{% extends 'index.html' %}

{% block title %}Administrador{% endblock %}

{% block header_main_navigation %}

<div class="container text-center" style="margin-top: 25px;">
    <div class="row">
        <div class="col">
            <a class="header-tools-admin" href="">USUARIOS</a>
        </div>
        <div class="col">
            <a class="header-tools-admin" href="">PRODUCTOS</a>
        </div>
        <div class="col">
            <a class="header-tools-admin" href="">PEDIDOS</a>
        </div>
    </div>
    <div class="container" style="margin-top: 15px;">
        <a style="font-family: cursive;">Bienvenido al panel de administración, </a><a
            style="text-transform: uppercase; font-family: cursive;">{{ session['usuario']['nombre'] }} </a>
    </div>
</div>

{% endblock %}

<!-- {% block content %}

{% endblock %} -->