{% extends 'index.html' %}

{% block title %}Administrador{% endblock %}

{% block header_main_navigation %}

<div class="container text-center" style="margin-top: 25px;">
    <div class="row">
        <div class="col">
            <a class="header-tools-admin" href="{{ url_for('pagina_protegida_admin') }}">USUARIOS</a>
        </div>
        <div class="col">
            <a class="header-tools-admin" href="{{ url_for('editar_productos') }}">PRODUCTOS</a>
        </div>
        <div class="col">
            <a class="header-tools-admin" href="">PEDIDOS</a>
        </div>
    </div>
    <div class="container" style="margin-top: 15px;">
        <a style="font-family: cursive;">Bienvenido al panel de administración, </a><a
            style="text-transform: uppercase; font-family: cursive;">{{ nombre }} </a>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container" style="margin-top: -30px;">
    <h2>Lista de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">PRIMER NOMBRE</th>
                <th scope="col">SEGUNDO NOMBRE</th>
                <th scope="col">PRIMER APELLIDO</th>
                <th scope="col">SEGUNDO APELLIDO</th>
                <th scope="col">CORREO ELECTRONICO</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">DPI</th>
                <th scope="col">DIRECCION</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios_clientes %}
                <tr>
                    <td>{{ usuario['usuario_id'] }} </td>
                    <td>{{ usuario['primer_nombre']}} </td>
                    <td>{{ usuario['segundo_nombre'] }}</td>
                    <td>{{ usuario['primer_apellido'] }} </td>
                    <td>{{ usuario['segundo_apellido'] }}</td>
                    <td>{{ usuario['correo_electronico'] }}</td>
                    <td>{{ usuario['numero_telefono'] }}</td>
                    <td>{{ usuario['dpi'] }}</td>
                    <td>{{ usuario['direccion'] }}</td>
                    <td>
                        <form action="{{ url_for('eliminar_usuario', usuario_id=usuario['usuario_id']) }}" method="post"
                            style="display:inline;">
                            <input type="hidden" name="usuario_id" value="{{ usuario['id'] }}">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}