{% extends "iniciarSesion.html" %}

{% block title %}Registro de Usuario{% endblock %}

{% block contentSubMenu %}

    <div class="container principal">
        <div class="container container-header" style="margin-top: -30px;">
            <h1 style="font-family: cursive; font-size: 22px; ">REGISTRARSE</h1>
        </div>  
        <div class="container">
            <div class="container container-submenu">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-top: -30px;">
                    <li class="breadcrumb-item"><a class="submenu-inicio-sesion" href="/">Inicio</a></li>
                    <li class="breadcrumb-item"><a class="submenu-inicio-sesion" href="/">Cuenta</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="font-family: cursive;">Registrarse</li>
                    </ol>
                </nav>
            </div> 
        </div>
        <div class="container container-header-registro" >
            <div class="container-registro" style="margin-top: -30px;">
                <div class="container-inicios">
                    <a href="#" class="fa fa-facebook" style="width: 335px;">  Sign in with Facebook</a>
                </div>
                <div class="container-inicios">
                    <a href="#" class="fa fa-twitter" style="width: 335px;">  Sign in with Twitter</a>
                </div>
                <div class="container-inicios">
                    <a href="#" class="fa fa-google" style="width: 335px;">  Sign in with Google</a>
                </div>
                <div class="container-inicio">
                    <a href="#" class="fa fa-instagram" style="width: 335px;">  Sign in with Instagram</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="container-form" style="margin-top: -30px;">
                            <form method="POST" action="{{ url_for('registro') }}">
                                <div class="mb-3" style="width: 344px;">
                                    <label for="primer_nombre" class="form-label" style="font-family: cursive;">Nombre</label>
                                    <input type="text" id="primer_nombre" name="primer_nombre" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="primer_apellido" class="form-label" style="font-family: cursive;">Apellido</label>
                                    <input type="text" id="primer_apellido" name="primer_apellido" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="correo_electronico" class="form-label" style="font-family: cursive;">Correo Electrónico</label>
                                    <input type="email" id="correo_electronico" name="correo_electronico" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="contrasena" class="form-label" style="font-family: cursive;">Contraseña</label>
                                    <input type="password" id="contrasena" name="contrasena" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="confirmar_contrasenaa" class="form-label" style="font-family: cursive;">Confirmar Contraseña</label>
                                    <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="form-control" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-dark" style="font-family: cursive;">Registrarse</button>
                                </div>
                            </form>
                        </div>
                            <div class="mt-3 text-center" style="font-family: cursive;">
                                <span>¿Ya tienes una cuenta? </span><a href="{{ url_for('inicioSesion') }}" class="text-dark">Inicia Sesión aquí</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}